/*
  Layout_Parameters.css
*/

/*
Usage
var(--sidebar-color);
var(--sidebar-background-color);
*/
:root {
    --sidebar-color: #032d099e;
    --sidebar-background-color: #032d099e;
    --sidebar-border-bottom-color: #032d099e;
}
